<span title="<%= verified ? 'Verified' : 'Not verified' %>" data-placement="top" data-toggle="tooltip"
    data-original-title="<%= verified ? 'Verified' : 'Not verified' %>">
    <i class="fa <%= verified ? 'fa-check-circle text-success' : 'fa-check-circle' %>"></i>
</span>