
    <link rel="stylesheet" href="/css/sub.css">


    <form method="POST" action="/subscribe">
        <button type="submit">Subscribe</button>
        <input type="hidden" name="email" value="<%= email %>">
    </form>
