

<div id="video-container">
  <div id="player"></div>
  <div id="video-questions-section">
    <%-include('../components/realTimeQuestions'); %>
  </div>
</div>



<div id="timeline-container"></div>
<script src="/js/videoPlayer.js" type="text/javascript"></script>

<script>
  var player = new Playerjs({id:"player", file: "<%= video.videoSource %>", poster: "<%= video.poster %>"});
  let questionsContainer = <%- JSON.stringify(questionsContainer) %>;
</script>

