<%- include('./layouts/sMainLayout') %>
  <div class="container-fluid pb-0">
    <%- include('./components/homePage/ChannelsCategories.ejs'); %>
    <%- include('./components/homePage/FeaturedVideos.ejs'); %>
  </div>
<%- include('./layouts/eMainLayout') %>