<div class="single-video-info-content box mb-3">
    <h6>Category:</h6>
    <p>
      <% if (video.category) { %>    
        <%= video.category.name %> <a title="" data-placement="top"  
                data-toggle="tooltip" href="#"           
                data-original-title="<%= video.videoVerification %>">         
      <% } %>
    </p>
    <h6>Description</h6>
    <p>
        <%= video.description %>
    </p>
    <h6>Tags:</h6>
    <p class="tags mb-0">
        <% video.tags.forEach(tag => { %>
          <span>
            <a href="#">
              <%= tag.name %>
            </a>
          </span>
        <% }) %>
    </p>
</div>