<div class="chat">
  <div class="header">
    <span class="chatHeader"> CHAT</span>
  </div>
  <div  class="messagesContainer" id="messagesContainer">
    <form action="/livechat" method="POST" onsubmit="event.preventDefault()">
      <div>
      </div>
  </div>
  <input name="message" id="messageInput" class="inputt col-10" placeholder="Send a message" />
  <button type="submit" id="sendButton">Send</button> 
  </form>
</div>
